@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-teal-primary via-yellow-primary to-brass;
    -webkit-background-clip: text;
    color: transparent;
    transition-duration: 0.5s;
  }

  /* .full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  } */

  /* .full-height {
    height: 100vh;
    position: relative;
    top: 50%;
    bottom: 50%;
    margin-top: -50vh;
    margin-bottom: -50vh;
  } */

  .child-inline > * {
    display: inline;
  }

  .shape-outside {
    shape-outside: circle(28%);
  }
}

pre > code {
  display: grid;
}

pre > code > span {
  padding-right: 16px;
}

code {
  counter-reset: line;
}

code > .line::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits='2'] > .line::before {
  width: 2rem;
}

code[data-line-numbers-max-digits='3'] > .line::before {
  width: 3rem;
}

code > .line--highlighted {
  background: #016d75;
  border-left-color: #e9d055;
  border-left-width: 3px;
}
